@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap%27');

:root{
    --primary: #005AA9;
    --secondary: #9DBE3B;
    --primary-light: #5AB2FE;
    --text-color:#254308;
}

body{
    position: relative;
    width: 100%;
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
    background: #f2f2f2;
}

#home {
    /* background: url("/Resources/homepage.svg") !important; */
    /* background-repeat: no-repeat; */
}

a,
.text-dark{
    color: #3a3a3a;
}

a:hover,
a:focus,
a:active{
    color: #3a3a3a;
    text-decoration: none;
}

.blur {
    backdrop-filter: blur(8px);
}

.card{
    max-width: 25rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 15px;
}

.carousel {
    max-width: 50%;
}

/* button */
.btn-primary,
.btn-primary:focus,
.btn-primary:active{
    background: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover{
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

h2, h3, h4, h5, h6{
    margin: 0 !important;
    font-weight: 700 !important;
}

p{
    margin: 0 !important;
}

section{
    padding: 100px 0px;
}

.section-title{
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary);
}

.lead{
    font-size: 1.5em !important;
    font-weight: 300 !important;
}

.navbar-custom .navbar-toggler{
    color: #fff;
    border-color: #fff;
    padding: 6px 12px;
}
.navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    min-height: 40px !important;
 }
.nav-link{
    position: relative !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #000 !important;
    padding: 0px 30px 0px 0px !important;
}
.nav-link:hover{
    background: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#navbarSupportedContent{
    margin-right: 50px;
}

.navbar-brand:hover{
    background: var(--secondary) !important;
    border: solid 2px var(--secondary) !important;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.header-one{
    position: relative;
    width: 100%;
    height: 100vh;
}
.header-one h2,h5{
    font-size: 50px;
    letter-spacing: .2px;
    font-weight: 300;
}
.header-one h2{
    color: var(--primary) !important;
}
.header-one h5{
    color: var(--secondary) !important;
}
.header-one .lead{
    line-height: 1.4;
    color: var(--text-color) !important;
}
/* #home,.header-one{
    background: rgb(0,136,255);
    background: linear-gradient(90deg, rgba(0,136,255,1) 22%, rgba(42,155,255,1) 56%, rgba(63,162,249,0.8865740740740741) 83%, rgba(71,158,236,0.837962962962963) 100%);    
} */
#headerDiv{
    padding-left:50px;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self:end;
}

.layer2{
    background-image: url(../Resources/waves2.svg);
}

#about{
    background-color: var(--primary-light);
}
 
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.about-section h2{
    color: #fff;
}

.img-container{
    width: 50%;
    position: static;
    z-index: -1;
}

.h-img{
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    transition: background 0.3s linear;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }


.sponsor-image{
    max-height: 250px;
    max-width: 250px;
}